*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.all{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
}


.im-1 img{
    height: 200px;
    width: 900px;
    margin-top: 50px;
    margin-left: 50px;
}

.im-2 img{
    height: 200px;
    width: 900px;
    margin-top: 50px;
}
.im-3 img{
    height: 200px;
    width: 900px;
    margin-top: 50px;
    margin-left: 50px;
}


.im-1 input{
    font-size: 25px;
    height: 50px;
    width: 350px;
    border-radius: 40em;
    background:blue;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:none;
    transition: 0.9s;
}

.im-1 input:hover{
    transform: scale(1.1)
    }
.im-2 input{
    font-size: 25px;
    height: 50px;
    width: 350px;
    border-radius: 40em;
    background:blue;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:none;
    transition: 0.9s;
}

.im-2 input:hover{
    transform: scale(1.1)
    }
.im-3 input{
    font-size: 25px;
    height: 50px;
    width: 350px;
    border-radius: 40em;
    background:blue;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:none;
    transition: 0.9s;
}

.im-3 input:hover{
    transform: scale(1.1)
}


    .se input{
    height: 50px;
    width:1000px ;
    border-radius: 4em;
    padding: 20px;
    border-bottom: 1px solid rgb(39, 39, 39);
    border-top: 1px solidrgb(39, 39, 39) ;
    border-left: 1px solid rgb(39, 39, 39) ;
    border-right: 1px solid rgb(39, 39, 39) ;
    font-size: 20px;
    }

    .se{
        margin-left: 150px;
    }


    @media  (min-width:290px){
   

        .im-1 img{
        height: 130px;
        width: 280px;
        margin-top: 50px;
        margin-left: 10px;
    }
        .im-2 img{
            height: 130px;
            width: 280px;
            margin-top: 50px;
            margin-left: 10px;
    }
        .im-3 img{
            height: 130px;
            width: 280px;
            margin-top: 50px;
            margin-left: 10px;
    }


    .im-1 input{
        font-size: 20px;
        height: 35px;
        width: 200px;
        margin-left: 40px;
        margin-top: 10px;
    }
    .im-2 input{
        font-size: 20px;
        height: 35px;
        width: 200px;
        margin-left: 40px;
        margin-top: 10px;
    }
    .im-3 input{
        font-size: 20px;
        height: 35px;
        width: 200px;
        margin-left: 40px;
        margin-top: 10px;
    }
    .se input{
        font-size: 20px;
        height: 40px;
        width: 230px;
    }

    .se{
        margin-left: 30px;
    }

}
@media  (min-width:400px){


        .im-1 img{
        height: 140px;
        width: 300px;
        margin-top: 50px;
        margin-left: 20px;
    }
        .im-2 img{
            height: 140px;
            width: 300px;
            margin-top: 50px;
            margin-left: 20px;
    }
        .im-3 img{
            height: 140px;
            width: 300px;
            margin-top: 50px;
            margin-left: 20px;
    }

    .im-1 input{
        font-size: 25px;
        height: 45px;
        width: 230px;
        margin-left: 40px;
        margin-top: 20px;
    }
    .im-2 input{
        font-size: 25px;
        height: 45px;
        width: 230px;
        margin-left: 40px;
        margin-top: 20px;
    }
    .im-3 input{
        font-size: 25px;
        height: 45px;
        width: 230px;
        margin-left: 40px;
        margin-top: 20px;
    }

    .se input{
        font-size: 20px;
        height: 40px;
        width: 250px;
    }

    .se{
        margin-left: 40px;
    }

}
@media  (min-width:520px){


        .im-1 img{
        height: 150px;
        width: 400px;
        margin-top: 50px;
        margin-left: 20px;
    }
        .im-2 img{
            height: 150px;
            width: 400px;
            margin-top: 50px;
            margin-left: 20px;
    }
        .im-3 img{
            height: 150px;
            width: 400px;
            margin-top: 50px;
            margin-left: 20px;
    }


    .im-1 input{
        font-size: 25px;
        height: 45px;
        width: 250px;
        margin-left: 90px;
        margin-top: 20px;
    }
    .im-2 input{
        font-size: 25px;
        height: 45px;
        width: 250px;
        margin-left: 90px;
        margin-top: 20px;
    }
    .im-3 input{
        font-size: 25px;
        height: 45px;
        width: 250px;
        margin-left: 90px;
        margin-top: 20px;
    }

    .se input{
        font-size: 20px;
        height: 40px;
        width: 400px;
    }

    .se{
        margin-left: 40px;
    }

}
@media  (min-width:720px){


        .im-1 img{
        height: 160px;
        width: 500px;
        margin-top: 50px;
        margin-left: 20px;
    }
        .im-2 img{
            height: 160px;
            width: 500px;
            margin-top: 50px;
            margin-left: 20px;
    }
        .im-3 img{
            height: 160px;
            width: 500px;
            margin-top: 50px;
            margin-left: 20px;
    }
 
    .im-1 input{
        font-size: 25px;
        height: 50px;
        width: 300px;
        margin-left: 90px;
        margin-top: 20px;
    }
    .im-2 input{
        font-size: 25px;
        height: 50px;
        width: 300px;
        margin-left: 90px;
        margin-top: 20px;
    }
    .im-3 input{
        font-size: 25px;
        height: 50px;
        width: 300px;
        margin-left: 90px;
        margin-top: 20px;
    }

    .se input{
        font-size: 20px;
        height: 40px;
        width: 600px;
    }

    .se{
        margin-left: 40px;
    }

}
@media  (min-width:920px){


        .im-1 img{
        height: 200px;
        width: 850px;
        margin-top: 50px;
        margin-left: 20px;
    }
        .im-2 img{
            height: 200px;
            width: 850px;
            margin-top: 50px;
            margin-left: 20px;
    }
        .im-3 img{
            height: 200px;
        width: 850px;
        margin-top: 50px;
        margin-left: 20px;
    }

    .im-1 input{
        font-size: 25px;
        height: 50px;
        width: 350px;
        margin-left: 90px;
        margin-top: 20px;
    }
    .im-2 input{
        font-size: 25px;
        height: 50px;
        width: 350px;
        margin-left: 90px;
        margin-top: 20px;

    }
    .im-3 input{
        font-size: 25px;
        height: 50px;
        width: 350px;
        margin-left: 90px;
        margin-top: 20px;

    }
   
    .se input{
        font-size: 20px;
        height: 40px;
        width: 800px;
    }

    .se{
        margin-left: 40px;
    }

}
